{% include 'header.html' %}
{% block head %}
{% endblock %}

 <section class="page-section bg-training" id="training-certifications">

    <div class="container">
        <br>
        <br>

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Training & Certifications</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-certificate"></i></div>
            <div class="divider-custom-line"></div>
        </div>

<section id="training" class="section">
                <div class="training-item">
                    <div class="training-details">
                    <h3>Java Development Internship</h3>
                    <p><strong>Cognifyz Technologies</strong></p>
                    <p class="date">08/01/2025 - 08/02/2025</p>
                    <ul>
                        <li>Selected for the position of Java Development Intern</li>
                        <li>Will develop robust and scalable applications</li>
                        <li>Will contribute to the design and implementation of software solutions</li>
                    </ul>
                    <div style="display: flex; gap: 20px;">
                        <p><a href="\static\assets\CERTIFICATE\Jitendra Verma JDI OL.pdf" target="_blank">View Offer Letter</a></p>
                        <p><a href="\static\assets\CERTIFICATE\Jitendra Verma JDI OL.pdf" target="_blank">View Certificate</a></p>
                    </div>
                </div>
                <div class="training-preview">
                        <img src="\static\assets\CERTIFICATE\JAVA-CERTIFICATE.jpg" alt="Training Preview" class="training-img">
                    </div></div>

                <div class="training-item">
                    <div class="training-details">
                    <h3>Solutions Architecture Job Simulation</h3>
                    <p><strong>Forage</strong></p>
                    <p class="date">Completed: January 18th, 2025</p>
                    <ul>
                        <li>Designing a simple, scalable, hosting architecture</li>
                    </ul>
                    <p>Enrolment Verification Code: JsrnJLoRhGyZh6ay6</p>
                    <p><a href="\static\assets\CERTIFICATE\Solutions Architecture Job Simulation AWS.pdf" target="_blank">Verify Certificate</a></p>
                </div>
                </div>

                <div class="training-item">
                    <div class="training-details">
                    <h3>Data Visualisation: Empowering Business with Effective Insights</h3>
                    <p><strong>Forage</strong></p>
                    <p class="date">Completed: January 17th, 2025</p>
                    <ul>
                        <li>Framing the Business Scenario</li>
                        <li>Choosing the Right Visuals</li>
                        <li>Creating Effective Visuals</li>
                        <li>Communicating Insights and Analysis</li>
                    </ul>
                    <p>Enrolment Verification Code: yhARCtGpsgt7MZ59f</p>
                    <p><a href="\static\assets\CERTIFICATE\Data Visualisation TATA.pdf" target="_blank">Verify Certificate</a></p>
                </div>
                
        </div>

                <div class="training-item" >
                    <div class="training-details">
                    <h3>Coding: Development & Advanced Engineering Job Simulation</h3>
                    <p><strong>Forage</strong></p>
                    <p class="date">Completed: January 17th, 2025</p>
                    <ul>
                        <li>Object Oriented Programming</li>
                        <li>Code Refactoring</li>
                        <li>Continuous Integration</li>
                        <li>Agile Planning</li>
                    </ul>
                    <p>Enrolment Verification Code: xhmDo59ecx99NeNp5</p>
                    <p><a href="\static\assets\CERTIFICATE\Coding Development & Advanced ACCENTURE.pdf" target="_blank">Verify Certificate</a></p>
                </div>
                
        </div>
                

                <div class="training-item">
                    <div class="training-details">
                    <h3>Python With Web Development Training</h3>
                    <p><strong>Grras Training Unit</strong></p>
                    <p class="date">August 10th, 2023 - February 8th, 2024</p>
                    <p>Certificate No: Grras/214248</p>
                    <p><a href="\static\assets\CERTIFICATE\jitendra-verma-grras-214248.pdf" target="_blank">View Certificate</a></p>
                </div>
                <div class="training-preview">
                        <img src="\static\assets\CERTIFICATE\jitendra-verma-grras-214248.jpg" alt="Training Preview"
                            class="training-img">
                    </div>
                </div>

                <div class="training-item">
                    <div class="training-details">
                        <h3>Web Development With Python Internship</h3>
                        <p><strong>GIP Technologies Pvt. Ltd.</strong></p>
                        <p class="date">August 10th, 2023 - November 8th, 2023</p>
                        <ul>
                            <li>Completed internship in Web Development with Python</li>
                            <li>Demonstrated skills with self-motivation to learn new skills</li>
                            <li>Exceeded expectations and completed projects on time</li>
                        </ul>
                        <p><a href="\static\assets\CERTIFICATE/gip_internship_cert.pdf" target="_blank">View Certificate</a></p>
                    </div>
                    <div class="training-preview">
                        <img src="\static\assets\CERTIFICATE\gip_internship_cert.jpg" alt="Training Preview"
                            class="training-img">
                    </div>
                </div>

                <div class="training-item">
                    <div class="training-details">
                        <h3>Python Programming Training</h3>
                        <p class="organization">Grras Training Unit</p>
                        <p class="date">August 10th, 2023 - November 8th, 2023</p>
                        <p class="certificate">Certificate No: Grras/209356</p>
                        <p><a href="\static\assets\CERTIFICATE\jitendra-verma--grras-209356.pdf" target="_blank">View Certificate</a>
                        </p>
                    </div>
                    <div class="training-preview">
                        <img src="\static\assets\CERTIFICATE\jitendra-verma--grras-209356.jpg" alt="Training Preview"
                            class="training-img">
                    </div>
                </div>

                <div class="training-item">
                    <div class="training-details">
                    <h3>One Month In-House Training on HTML & CSS</h3>
                    <p><strong>Modi Institute of Technology, Kota</strong></p>
                    <p class="date">August 17th, 2022 - September 16th, 2022</p>
                    <ul>
                        <li>Hypertext Markup Language (HTML)</li>
                        <li>Cascading Style Sheets (CSS)</li>
                    </ul>
                    <p><a href="\static\assets\CERTIFICATE\HTML&CSS MIT.pdf" target="_blank">Verify Certificate</a></p>
                </div>
                <div class="training-preview">
                        <img src="\static\assets\CERTIFICATE\HTML&CSS MIT.jpg" alt="Training Preview"
                            class="training-img">
                    </div></div>
            </section>
                    <div class="text-center mt-4">
            <a class="btn btn-primary btn-xl text-uppercase" href="{{ url_for('index') }}">Back to Home</a>
        </div>
    </div>
</section>


{% include 'footer.html' %}
{% block foot %}
{% endblock %}