{% include 'header.html' %}
{% block head %}{% endblock %}

<section class="page-section bg-training" id="training-certifications">

    <div class="container">
        <br>
        <br>

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Training & Certifications</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-certificate"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <section id="training" class="section">
            <!-- 2025 -->
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fab fa-java"></i> Java Development Internship</h3>
                    <p><strong>Cognifyz Technologies</strong></p>
                    <p class="date"><i class="fas fa-calendar-alt"></i> 08/01/2025 - 08/02/2025</p>
                    <ul>
                        <li>Selected for the position of Java Development Intern</li>
                        <li>Will develop robust and scalable applications</li>
                        <li>Will contribute to the design and implementation of software solutions</li>
                    </ul>
                    <div style="display: flex; gap: 20px;">
                        <p><a href="\static\assets\CERTIFICATE\Jitendra Verma JDI OL.pdf" target="_blank"><i class="fas fa-eye"></i> View Offer Letter</a></p>
                        <p><a href="\static\assets\CERTIFICATE\Jitendra Verma JDI OL.pdf" target="_blank"><i class="fas fa-eye"></i> View Certificate</a></p>
                    </div>
                </div>
                <div class="training-preview">
                    <img src="\static\assets\CERTIFICATE\JAVA-CERTIFICATE.jpg" alt="Training Preview" class="training-img">
                </div>
            </div>
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fas fa-laptop-code"></i> Software Engineer Certification</h3>
                    <p><strong>HackerRank</strong></p>
                     <p class="date"><i class="fas fa-calendar-alt"></i> Earned on: 02 Jul, 2025</p>
                    <ul>
                         <li>Passed the HackerRank role certification test for Software Engineer</li>
                    </ul>
                     <p>ID: 596B5E505988 </p>
                    </div>
            </div>
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fas fa-cogs"></i> Solutions Architecture Job Simulation</h3>
                    <p><strong>Forage</strong></p>
                    <p class="date"><i class="fas fa-calendar-alt"></i> Completed: January 18th, 2025</p>
                    <ul>
                        <li>Designing a simple, scalable, hosting architecture</li>
                    </ul>
                    <p>Enrolment Verification Code: JsrnJLoRhGyZh6ay6</p>
                    <p><a href="\static\assets\CERTIFICATE\Solutions Architecture Job Simulation AWS.pdf" target="_blank"><i class="fas fa-check-circle"></i> Verify Certificate</a></p>
                </div>
            </div>
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fas fa-chart-bar"></i> Data Visualisation: Empowering Business with Effective Insights</h3>
                    <p><strong>Forage</strong></p>
                    <p class="date"><i class="fas fa-calendar-alt"></i> Completed: January 17th, 2025</p>
                    <ul>
                        <li>Framing the Business Scenario</li>
                        <li>Choosing the Right Visuals</li>
                        <li>Creating Effective Visuals</li>
                        <li>Communicating Insights and Analysis</li>
                    </ul>
                    <p>Enrolment Verification Code: yhARCtGpsgt7MZ59f</p>
                    <p><a href="\static\assets\CERTIFICATE\Data Visualisation TATA.pdf" target="_blank"><i class="fas fa-check-circle"></i> Verify Certificate</a></p>
                </div>
            </div>
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fas fa-code"></i> Coding: Development & Advanced Engineering Job Simulation</h3>
                    <p><strong>Forage</strong></p>
                    <p class="date"><i class="fas fa-calendar-alt"></i> Completed: January 17th, 2025</p>
                    <ul>
                        <li>Object Oriented Programming</li>
                        <li>Code Refactoring</li>
                        <li>Continuous Integration</li>
                        <li>Agile Planning</li>
                    </ul>
                    <p>Enrolment Verification Code: xhmDo59ecx99NeNp5</p>
                    <p><a href="\static\assets\CERTIFICATE\Coding Development & Advanced ACCENTURE.pdf" target="_blank"><i class="fas fa-check-circle"></i> Verify Certificate</a></p>
                </div>
            </div>
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fab fa-react"></i> React and Redux Certification Test - Youtube Course</h3>
                    <p><strong>KnowledgeGate</strong></p>
                    <ul>
                         <li>Successfully completed React and Redux Certification Test - Youtube Course</li>
                    </ul>
                     <p>Certificate Number: 11494184219978860626671</p>
                     <p><a href="https://learn.knowledgegate.in/learn/certificate/11494184-219978" target="_blank"><i class="fas fa-check-circle"></i> Verify Certificate</a></p>
                </div>
            </div>
            <!-- 2024 -->
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fab fa-python"></i><i class="fas fa-globe"></i> Python With Web Development Training</h3>
                    <p><strong>Grras Training Unit</strong></p>
                    <p class="date"><i class="fas fa-calendar-alt"></i> August 10th, 2023 - February 8th, 2024</p>
                    <p>Certificate No: Grras/214248</p>
                    <p><a href="\static\assets\CERTIFICATE\jitendra-verma-grras-214248.pdf" target="_blank"><i class="fas fa-eye"></i> View Certificate</a></p>
                </div>
                <div class="training-preview">
                    <img src="\static\assets\CERTIFICATE\jitendra-verma-grras-214248.jpg" alt="Training Preview" class="training-img">
                </div>
            </div>
            <!-- 2023 -->
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fab fa-python "></i><i class="fas fa-globe"></i> Web Development With Python Internship</h3>
                    <p><strong>GIP Technologies Pvt. Ltd.</strong></p>
                    <p class="date"><i class="fas fa-calendar-alt"></i> August 10th, 2023 - November 8th, 2023</p>
                    <ul>
                        <li>Completed internship in Web Development with Python</li>
                        <li>Demonstrated skills with self-motivation to learn new skills</li>
                        <li>Exceeded expectations and completed projects on time</li>
                    </ul>
                    <p><a href="\static\assets\CERTIFICATE/gip_internship_cert.pdf" target="_blank"><i class="fas fa-eye"></i> View Certificate</a></p>
                </div>
                <div class="training-preview">
                    <img src="\static\assets\CERTIFICATE\gip_internship_cert.jpg" alt="Training Preview" class="training-img">
                </div>
            </div>
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fab fa-python"></i> Python Programming Training</h3>
                    <p class="organization">Grras Training Unit</p>
                    <p class="date"><i class="fas fa-calendar-alt"></i> August 10th, 2023 - November 8th, 2023</p>
                    <p class="certificate">Certificate No: Grras/209356</p>
                    <p><a href="\static\assets\CERTIFICATE\jitendra-verma--grras-209356.pdf" target="_blank"><i class="fas fa-eye"></i> View Certificate</a></p>
                </div>
                <div class="training-preview">
                    <img src="\static\assets\CERTIFICATE\jitendra-verma--grras-209356.jpg" alt="Training Preview" class="training-img">
                </div>
            </div>
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fas fa-robot"></i> AI for Students: Build Your Own Generative AI Model Workshop - Participation</h3>
                    <p><strong>NxtWave</strong></p>
                     <p class="date"><i class="fas fa-calendar-alt"></i> Issue Date: 12/16/2023</p>
                    <ul>
                         <li>Participated in the workshop 'AI for Students: Build Your Own Generative AI Model'</li>
                         <li>Workshop conducted by AI expert and IIT Delhi alumnus, Mr. Trivikrama</li>
                         <li>Workshop designed to equip students with skills essential in the AI era</li>
                    </ul>
                    </div>
            </div>
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fas fa-chalkboard-teacher"></i> AI for Students: Build Your Own Generative AI Model Workshop - Leadership</h3>
                    <p><strong>NxtWave</strong></p>
                     <p class="date"><i class="fas fa-calendar-alt"></i> Issue Date: 12/16/2023</p>
                    <ul>
                         <li>Showcased Leadership skills in executing the workshop 'AI for Students: Build Your Own Generative AI Model'</li>
                         <li>Workshop conducted by AI expert and IIT Delhi alumnus, Mr. Trivikrama</li>
                         <li>Workshop designed to equip students with skills essential in the AI era</li>
                    </ul>
                    </div>
            </div>
            <!-- 2022 -->
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fab fa-html5"></i> <i class="fab fa-css3-alt"></i>One Month In-House Training on HTML & CSS</h3>
                    <p><strong>Modi Institute of Technology, Kota</strong></p>
                    <p class="date"><i class="fas fa-calendar-alt"></i> August 17th, 2022 - September 16th, 2022</p>
                    <ul>
                        <li>Hypertext Markup Language (HTML)</li>
                        <li>Cascading Style Sheets (CSS)</li>
                    </ul>
                    <p><a href="\static\assets\CERTIFICATE\HTML&CSS MIT.pdf" target="_blank"><i class="fas fa-check-circle"></i> Verify Certificate</a></p>
                </div>
                <div class="training-preview">
                    <img src="\static\assets\CERTIFICATE\HTML&CSS MIT.jpg" alt="Training Preview" class="training-img">
                </div>
            </div>
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fab fa-google-drive"></i> Google Drive Clone using HTML and Material CSS Bootcamp</h3>
                    <p><strong>DevTown in collaboration with MLSA KIIT Chapter and GDSC KIIT Chapter</strong></p>
                     <p class="date"><i class="fas fa-calendar-alt"></i> October 2022</p>
                    <ul>
                         <li>Successfully completed 7-days FREE Bootcamp on Google Drive Clone using HTML and Material CSS</li>
                    </ul>
                     <p><a href="https://cert.devtown.in.tech/verify/Z28114W" target="_blank"><i class="fas fa-check-circle"></i> Verify Certificate</a></p>
                </div>
            </div>
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fas fa-robot"></i> Artificial Intelligence Bootcamp</h3>
                    <p><strong>DevTown in collaboration with MLSA KIIT Chapter and GDSC KIIT Chapter</strong></p>
                     <p class="date"><i class="fas fa-calendar-alt"></i> September 2022</p>
                    <ul>
                         <li>Successfully completed 7-days Bootcamp on ARTIFICIAL INTELLIGENCE</li>
                    </ul>
                     <p><a href="https://cert.devtown.in.tech/verify/ZBxBDK" target="_blank"><i class="fas fa-check-circle"></i> Verify Certificate</a></p>
                </div>
            </div>
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fab fa-cuttlefish"></i> C++ Data Structures and Algorithms Bootcamp</h3>
                    <p><strong>DevTown in collaboration with MLSA KIIT Chapter and GDSC KIIT Chapter</strong></p>
                     <p class="date"><i class="fas fa-calendar-alt"></i> September 2022</p>
                    <ul>
                         <li>Successfully completed 7-days Bootcamp on C++ Data Structures and Algorithms</li>
                    </ul>
                     <p><a href="https://cert.devtown.in.tech/verify/1d.Jonc" target="_blank"><i class="fas fa-check-circle"></i> Verify Certificate</a></p>
                </div>
            </div>
            <!-- 2021 and earlier -->
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fas fa-flask"></i> National Science Day Celebration - Essay Competition (H)</h3>
                    <p><strong>Department of Science & Technology, Kota (Government of Rajasthan)</strong></p>
                     <p class="date"><i class="fas fa-calendar-alt"></i> Date: 27-28 February 2018</p>
                    <ul>
                         <li>Participated in National Science Day Celebration</li>
                        <li>Organized by Department of Science and Technology in association with Lal Bahadur Shastri Sr. Sec.  School, Ranpur Kota</li>
                         <li>Stood Third Position in Essay Competition (H)</li>
                    </ul>
                    </div>
            </div>
            <div class="training-item">
                <div class="training-details">
                    <h3><i class="fas fa-water"></i> Watershed Development Course - Watershed Yatra (Completion)</h3>
                    <p><strong>Government of India, Ministry of Rural Development, Department of Land Resources</strong></p>
                    <p class="date"><i class="fas fa-calendar-alt"></i> Date: 08-Feb-2025</p>
                    <ul>
                        <li>Successfully and satisfactorily completed an online basic learning course on Watershed Development Course - Watershed Yatra</li>
                        <li>Provided by the Department of Land Resources, Ministry of Rural Development, Government of India</li>
                        <li>Grade: Excellent</li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="text-center mt-4">
            <a class="btn btn-primary btn-xl text-uppercase" href="{{ url_for('index') }}">Back to Home</a>
        </div>
    </div>
</section>

{% include 'footer.html' %}
{% block foot %}{% endblock %}
